<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school_interest.name %>
</p>

<%= link_to 'Edit', edit_school_interest_path(@school_interest) %> |
<%= link_to 'Back', school_interests_path %>
